<%- include('partials/header', {result: result}); -%>
	<% if(result.admin){ %>
	<button type="button" class="btn btn-info" onclick="unbanMenu()">Unban Menu</button>
	<% } %>
	<h1> <%= result.displayName %>'s Profile </h1>

	<br>
	E-Mail : <%= result.email %>
	<br>
	Joined : <%= result.createdAt %>
	<br>
	Last Updated: <%= result.updatedAt %>
	<br>
	<br>
	<% if(result.banned) {%> You have been banned, Reason: <%= result.bannedReason %> <% }%>
	<br>
	<% if (!result.banned) { %>
	<form id="updateForm">
		<label for="InputDisplayName" class="form-label">Display Name</label>
			<input type="text" class="form-control" id="InputDisplayName">
		<button type="button" class="btn btn-info" onclick="updateDisplayName();">Update Display Name</button>
	</form>
	<% } %>
	<br>
	<form id="deleteForm">
		<button type="button" class="btn btn-danger" onclick="deleteAccount();">Delete my account</button>
	</form>


	<script> function deleteAccount() {
		$.post("", {"message":"delete"},function(data, status, jqXHR){
			console.log(status)
			if(data == "success"){
				alert("Your account has been sucessfully deleted")
				window.location = "/accounts/login"
			}
		}
		)}
		
		function updateDisplayName(){
			displayName = document.getElementById("InputDisplayName").value
			$.post("",{"message": "update", "displayName": displayName}, function(data, status, jqXHR){
				if(data == "success"){
					alert("Your Display name has been updated")
					window.location.reload()
				}
			})
		}

		function unbanMenu(){
			window.location = '/accounts/admin'
		}
		</script>
<%- include('partials/footer') -%>